/* UserAdd, UserEdit, TaskAdd, TaskEdit 페이지 */
/* .form-inner{
    margin: 0 auto;
} */

.form-inner>div {
    display: flex;
    margin-bottom: 10px;
}

.wrapper {
    padding: 16px;
    background-color: #eee;
}

/* UserSet, TaskSet 공통 */

.user-info>div {
    display: flex;
}

.main-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 24px;
}

.main-btn a,
.main-btn button,
.add-btn button {
    display: block;
    width: 28%;
    height: 42px;
    line-height: 40px;
    color: #555;
    border-radius: 8px;
    padding: 0;
    background-color: #ddd;
    text-align: center;
}

.add-btn {
    padding: 12px 0;
}

.add-btn button {
    background-color: #111;
    color: #a4ebff;
    margin-left: auto;
}

.userList>ul>li,
.taskList ul>li {
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #fff;
}

/* UserSet 페이지 */
/* .userList{
    width: 1440px;
    margin: 0 auto;
} */

.userList .user-info {
    padding: 16px;
}

.userList .user-info>div {
    padding: 4px 0;
}

.userList .user-info div p:nth-child(1) {
    width: 80px;
    color: #555;
}

/* TaskSet 페이지 */

.taskList ul>li>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}