.StopWatch {
    position: fixed;
    /* inset: 0; */
    bottom: 48px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #111;
    z-index: 499;
    transition: height 1s;

}
.StopWatch.view{
    max-width: 1024px;
    height: 48px;
}
.StopWatch .watch-inner{
    height: 48px;
}