.StopWatch {
    position: fixed;
    /* inset: 0; */
    bottom: 48px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #111;
    z-index: 499;
    transition: height 1s;
    margin: 0 auto;
}
.StopWatch.view{
    max-width: 1024px;
    height: 70px;
}
.StopWatch .watch-inner{
    height: 72px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}