.Gnb {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000;
    z-index: 900;
}

.Gnb .gnb-inner {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    background: #000;
}

.Gnb .gnb-inner>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 48px;
}

/* .Gnb .gnb-inner .stop-watch button{
    border: 0;
    background-color: transparent;
} */

.Gnb .gnb-inner>div>a {
    color: #a4ebff;
    font-size: 24px;
}